<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.driversonline">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_car"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_car_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".profileMainActivity"
            android:label="@string/title_activity_profile_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CombineSignUp" />
        <activity android:name=".CombineLogInPage" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>